.overview{
     background: linear-gradient(to right,  #1e1d1dc1 0%,rgba(5, 5, 5, 0.281) 100%), url('https://technave.com/data/files/article/202201130905372427.jpg');  
     background-repeat:no-repeat;
     background-attachment: fixed;
     background-size: cover;

   
   }