@property --rotate {
     syntax: "<angle>";
     initial-value: 132deg;
     inherits: false;
   }
   
   .category-card:hover {
     color: rgb(88 199 250 / 100%);
     transition: color 1s;
   }
   .category-card:hover:before, .category-card:hover:after {
     animation: none;
     opacity: 0;
   }
   
   
   .category-card::before {
     content: "";
     width: 104%;
     height: 102%;
     border-radius: 8px;
     background-image: linear-gradient(
       var(--rotate)
       , #5ddcff, #3c67e3 43%, #4e00c2);
       position: absolute;
       z-index: -1;
       top: -1%;
       left: -2%;
       animation: spin 2.5s linear infinite;
   }
   
   .category-card::after {
     position: absolute;
     content: "";
     left: 0;
     right: 0;
     z-index: -1;
     margin: 0 auto;
     transform: scale(0.8);
     filter: blur(calc(var(--category-card-height) / 6));
     background-image: linear-gradient(
       var(--rotate)
       , #5ddcff, #3c67e3 43%, #4e00c2);
       opacity: 1;
     transition: opacity .5s;
     animation: spin 2.5s linear infinite;
   }
   
   @keyframes spin {
     0% {
       --rotate: 0deg;
     }
     100% {
       --rotate: 360deg;
     }
   }
   
  